.category-index-sort {
    display: flex;
    margin: 10px 100px;
    justify-content: space-between;
    align-items: center;

}

.category-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.category-index-sort p span {
    font-weight: 600;
}

.category-products {
    margin: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 80px;
}

@media(max-width:1280px) {
    .category-index-sort {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
    .category-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .category-index-sort p {
        font-size: 12px;
    }
    .category-index-sort img {
        width: 11px;
    }
    .category-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .category-products .item {
        margin: auto;
    }
}

@media(max-width:800px) {
    .category-products {
        width: 95%;
    }
}

@media(max-width:500px) {
    .category-products {
        grid-template-columns: 1fr 1fr;

    }
}